<div class="p-field w-100" [ngClass]="fieldOptions.containerClass">
  <ng-container *ngIf="customFormGroup; else elseTemplate">
    <ng-container [formGroup]="customFormGroup">
      <label *ngIf="fieldOptions.label">{{ fieldOptions.label }}</label>
      <div class="p-inputgroup p-d-flex">
        <input
          [type]="isPassShown ? 'text' : 'password'"
          pInputText
          [formControlName]="fieldOptions.formControlName"
          (input)="onChange($event)"
        />
        <button
          type="button"
          pButton
          pRipple
          [icon]="isPassShown ? 'pi pi-eye' : 'pi pi-eye-slash'"
          (click)="togglePassShow()"
          styleClass="p-button-warn"
        ></button>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #elseTemplate>
    <label *ngIf="fieldOptions.label">{{ fieldOptions.label }}</label>
    <div class="p-inputgroup p-d-flex">
      <input
        [type]="isPassShown ? 'text' : 'password'"
        pInputText
        [formControlName]="fieldOptions.formControlName"
        (input)="onChange($event)"
      />
      <button
        type="button"
        pButton
        pRipple
        [icon]="isPassShown ? 'pi pi-eye' : 'pi pi-eye-slash'"
        (click)="togglePassShow()"
        styleClass="p-button-warn"
      ></button>
    </div>
  </ng-template>

  <app-field-errors [errors]="errors"></app-field-errors>
</div>
